<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_1_5_Strings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Lab_1_5_Strings.Properties.Settings>
            <setting name="MainMenu" serializeAs="String">
                <value>Select the operation:{1}{0}1 - Absolute value of the difference between two numbers;{1}{0}2 - Record of the number as a binary string;{1}{0}3 - Morse code as a sound;{1}{0}q - Exit!!!{1}{2}</value>
            </setting>
            <setting name="AbsoluteValue_MinTypingValue" serializeAs="String">
                <value>s/upcHu4QNo=</value>
            </setting>
            <setting name="AbsoluteValue_MaxTypingValue" serializeAs="String">
                <value>P00cYl/aeOs=</value>
            </setting>
            <setting name="AbsoluteValue_Delimiter" serializeAs="String">
                <value>PVniIRKwu3k=
</value>
            </setting>
            <setting name="AbsoluteValue_ReplaceToSymbol" serializeAs="String">
                <value>s/upcHu4QNo=</value>
            </setting>
        </Lab_1_5_Strings.Properties.Settings>
    </userSettings>
</configuration>