<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lab_1_3_Operators.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lab_1_3_Operators.Properties.PrSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Lab_1_3_Operators.Properties.Settings>
            <setting name="PuzzleFarmerKey1" serializeAs="String">
                <value>BTcy1DCE32820Ti6We5U5Q==</value>
            </setting>
            <setting name="PuzzleFarmerKey2" serializeAs="String">
                <value>B4hXmFaDNUaCz7zDG3DUTA==</value>
            </setting>
            <setting name="PuzzleFarmerMaxAttemptsCount" serializeAs="String">
                <value>Cag6XKil1HA=</value>
            </setting>
            <setting name="MainMenu" serializeAs="String">
                <value>Select the operation:{1}{0}1 - Puzzle The farmer, wolf, goat and cabbage;{1}{0}2 - Simple calculator;{1}{0}3 - Factorial;{1}{0}4 - Guess the number;{1}{0}q - Exit!!!{1}{2}</value>
            </setting>
            <setting name="MainMenu_MaxIncorectInputCount" serializeAs="String">
                <value>HGibqDVVnoc=</value>
            </setting>
        </Lab_1_3_Operators.Properties.Settings>
        <Lab_1_3_Operators.Properties.PrSettings>
            <setting name="PuzzleFarmerKey1" serializeAs="String">
                <value>chGhgSTaw/Pbe4agYWnAAw==</value>
            </setting>
            <setting name="PuzzleFarmerKey2" serializeAs="String">
                <value>tHTlm+9y7AH+InlM2U1Jmg==</value>
            </setting>
            <setting name="PuzzleFarmerMaxAttemptsCount" serializeAs="String">
                <value>Cag6XKil1HA=</value>
            </setting>
        </Lab_1_3_Operators.Properties.PrSettings>
    </userSettings>
</configuration>